@model IEnumerable<Cumulative_Assignment.Models.Teacher>

<h1>Teacher Details</h1>

<form method="GET" action="/TeacherPage/List">
	<div>
	<input type="text" name="SearchKey" /><input type="submit" value="Search" />
	</div>
</form>

@foreach(Teacher teacher in Model)
{
	<div>
		<a href="/TeacherPage/Show/@teacher.TeacherId">@teacher.TeacherFName</a>
	</div>
}
